/* ANIMATIONS */

.container.next .thumb {
  animation: effectNextThumb 0.4s linear 1 forwards;
}

@keyframes effectNextThumb {
  from {
    transform: translateX(150px);
  }
}

.container.next .thumb .thumb_item:nth-last-child(0) {
  animation: effectLastThumb 0.4s linear 1 forwards;
}

@keyframes effectLastThumb {
  from {
    width: 0;
    opacity: 0;
  }
}

.container .list .list_item:nth-last-child(1) .content .title,
.container .list .list_item:nth-last-child(1) .content .description,
.container .list .list_item:nth-last-child(1) .content .buttons_content {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.7s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

.container .list .list_item:nth-last-child(1) .content .title {
  animation-delay: 0.9s;
}

.container .list .list_item:nth-last-child(1) .content .description {
  animation-delay: 1s;
}

.container .list .list_item:nth-last-child(1) .content .buttons_content {
  animation-delay: 1.2s;
}

.container.next .list .list_item:nth-last-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 20px;
  animation: showMainImage 0.4s linear 1 forwards;
}

@keyframes showMainImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: none;
  }
}

.container.back .list .list_item:nth-child(1) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: hideMainImage 0.4s linear 1 forwards;
  z-index: 2;
}

@keyframes hideMainImage {
  to {
    width: 135px;
    height: 200px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}
